.col_2 {
    width: 20%;
}
.col_4{
    width: 40%;
}
.col_5{
    width: 50%;
}
.col_6{
    width: 60%;
}
.section {
    width: 100%;
    padding: 0 8%;
    margin-bottom: 110px;
}
.section_prev button {
    cursor: pointer;
    padding: 8px 8px;
    background-color: transparent;
    border: 1px solid #5953EB;
    border-radius: 5px;
    color: #5953EB;
    transition: .3s;
}
.section_prev button:hover{
    cursor: pointer;
    padding: 8px 8px;
    background-color: #5953EB;
    border: 1px solid #5953EB;
    border-radius: 5px;
    color: #fff;
}
.section_prev {
    width: 100%;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
    gap: 18px;
    flex-direction: column;
}
.section_prev h1{
    font-size: 22px;
    font-weight: 500;
}
.section_prev .content{
    width: 100%;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
}
.section_prev .content .column{
    width: 50%;
}

.section_prev .content .column .row{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 5px;
}
.section_prev .content .column .row p{
    font-size: 15px;
}
.section_prev .content .column .row p:nth-child(2){
    font-size: 14px;
    font-weight: 600;
}




.section_summary {
    width: 100%;
    margin-top: 70px;
    border-radius: 6px;
    display: flex;
    gap: 18px;
    flex-direction: column;
}
.section_summary h1 {
    font-size: 22px;
    font-weight: 500;
}
.section_summary .content {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
}
.section_summary .content {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.section_summary .content .row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #E8ECF2;
}
.section_summary .content .row .col_4{
    padding: 0 18px;
    height: 55px;
    display: flex;
    align-items: center;
}
.section_summary .content .row .col_2{
    padding: 0 18px;
    height: 55px;
    display: flex;
    align-items: center;
}
.section_summary .content .row .col_6{
    padding: 0 18px;
    height: 55px;
    display: flex;
    align-items: center;
}
.section_summary .content .row .col_5{
    background-color: #FEFFCF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 700px) {
    .section {
        width: 100%;
        padding: 0 3%;
        margin-bottom: 90px;
    }
    .section_prev {
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }
    .section_prev h1{
        font-size: 18px;
        font-weight: 500;
    }
    .section_prev .content{
        width: 100%;
        padding: 15px 15px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .section_prev .content .column{
        width: 50%;
    }
    
    .section_prev .content .column .row{
        width: 100%;
        height: 30px;
        display: flex;
        gap: 5px;
    }
    .section_prev .content .column .row p{
        font-size: 11px;
    }
    .section_prev .content .column .row p:nth-child(2){
        font-size: 11px;
        font-weight: 600;
    }





    .section_summary {
        width: 100%;
        margin-top: 40px;
        border-radius: 6px;
        display: flex;

        flex-direction: column;
    }
    .section_summary h1 {
        font-size: 18px;
        font-weight: 500;
    }
    .section_summary .content {
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
    }
    .section_summary .content {
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }
    .section_summary .content .row{
        width: 100%;
        display: flex;
        border-bottom: 1px solid #E8ECF2;
    }
    .section_summary .content .row p{
        font-size: 12px;
    }
    .section_summary .content .row .col_4{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_2{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_6{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_5{
        background-color: #FEFFCF;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 390px) {

    .section_prev h1{
        font-size: 18px;
        font-weight: 500;
    }
    .section_prev .content{
        width: 100%;
        padding: 15px 15px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;
    }
    .section_prev .content .column{
        width: 50%;
    }
    .section_prev .content .column .row{
        width: 100%;
        height: 30px;
        display: flex;
        gap: 5px;
    }
    .section_prev .content .column .row p{
        font-size: 11px;
    }
    .section_prev .content .column .row p:nth-child(2){
        font-size: 11px;
        font-weight: 600;
    }
    .section_summary {
        width: 100%;
        margin-top: 40px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }
    .section_summary h1 {
        font-size: 18px;
        font-weight: 500;
    }
    .section_summary .content {
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
    }
    .section_summary .content {
        width: 100%;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
    }
    .section_summary .content .row{
        width: 100%;
        display: flex;
        border-bottom: 1px solid #E8ECF2;
    }
    .section_summary .content .row p{
        font-size: 11px;
    }
    .section_summary .content .row .col_4{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_2{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_6{
        padding: 0 2%;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .section_summary .content .row .col_5{
        background-color: #FEFFCF;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}


